@font-face {
  font-family: "Origin";
  src: url("../assets/fonts/Origin-Regular.ttf");
}

@font-face {
  font-family: "Orkney";
  src: url("../assets/fonts/Orkney-Light.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}
