@import "@/styles/variables.scss";

* {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $black-color;
  font-size: 14px;
  font-family: "OpenSans", Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 100px;
  text-align: center;
  font-weight: normal;
  font-family: "Origin", "Segoe UI", sans-serif;

  @include mobile-only {
    font-size: 50px;
  }
}

h2 {
  margin: 0;
  font-size: 24px;
}

h4 {
  margin: 10px 0;
  font-size: 16px;
}

p {
  margin: 15px 0;
  line-height: 135%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $white-color;
  text-decoration: none;
}
