$primary-color: #e9c94e;
$secondary-color: #dc8d52;

// https://codepen.io/sosuke/pen/Pjoqqp

$filter-primary-color: brightness(0) saturate(100%) invert(71%) sepia(79%)
  saturate(339%) hue-rotate(4deg) brightness(99%) contrast(91%);

$filter-secondary-color: brightness(0) saturate(100%) invert(67%) sepia(11%)
  saturate(2433%) hue-rotate(339deg) brightness(92%) contrast(86%);

$black-color: #101010;
$white-color: #fffdf8;

$background-inverted: linear-gradient(
  0deg,
  rgba($primary-color, 0.9) 0%,
  rgba($secondary-color, 0.9) 100%
);

// Variables pour le responsive
$breakpoints: (
  tablet: 1023px,
  mobile: 674px,
);

@mixin tablet-only {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
