$primary-color: #ffd788;
$secondary-color: #ce8847;
$tertiary-color: #140908;

// https://codepen.io/sosuke/pen/Pjoqqp

$filter-primary-color: brightness(0) saturate(100%) invert(100%) sepia(40%)
  saturate(5605%) hue-rotate(303deg) brightness(110%) contrast(111%);

$filter-secondary-color: brightness(0) saturate(100%) invert(58%) sepia(42%)
  saturate(604%) hue-rotate(348deg) brightness(92%) contrast(89%);

$black-color: #000000;
$white-color: #fffdfb;

// Variables pour le responsive
$breakpoints: (
  tablet: 1023px,
  mobile: 674px,
);

@mixin tablet-only {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
