@import "@/styles/variables.scss";

.languages-section {
  padding: 0 20% 35px 20%;

  @include tablet-only {
    padding: 0 5% 35px 5%;
  }

  .section-title {
    border-bottom: 4px solid $secondary-color;
  }

  .progress-bar-externe {
    background-color: lighten($secondary-color, 25%) !important;

    .progress-bar-interne {
      background-color: $secondary-color;
    }
  }

  ul {
    @include mobile-only {
      margin-top: 20px;
    }

    li {
      margin-bottom: 10px;
      list-style-type: none;

      &:nth-child(even) {
        margin-left: 4%;
      }

      @include mobile-only {
        text-align: center;
      }
    }

    li:before {
      content: "• "; /* on affiche une chaîne de caractère */

      @include mobile-only {
        content: "";
      }
    }
  }
}
